%html
	%head
	%body
		%h1 Order by #{@order.user.name}
		%h2 Items ordered
		= @order.items

		%h2 Delivery Address
		= @order.address.full_address

		%h2 Delivery Time
		- if @order.today?
			Today 6pm ~ 9pm
		- else
			Tomorrow 6pm ~ 9pm

		%h2 Phone Number
		= @current_user.phone_number