%html
	%head
	%body
		%h1
			Welcome to Bab Shuttle!
		%p
			Hello #{@user.name}, Bab shuttle has finally launched! You can order your Korean Groceries from the "Order" tab at the top of http://www.babshuttle.com. Please display images for more information.
		
		= image_tag "/assets/instructions.png"
