%html
	%head
	%body
		%h2
			Hello #{@user.name}, Bab shuttle has finally launched! You can order your Korean Groceries from the "Order" tab at the top of http://www.babshuttle.com. Please display images for more information.	
		= image_tag "https://s3.amazonaws.com/FrecipeProduction/public/image/babshuttle/instructions.png"
