%html
	%head
	%body
		%h1
			Welcome to Bab Shuttle!
		%p
			You have successfully  signed up for Bab Shuttle. We are launching our service on September 1st 2013. In the meanwhile, please check out our about page at http://babshuttle.com/about for more details.
		%p
			Thanks for joining and have a great day!
