= form_for(@user, :url => user_session_path) do |f|
	.modal-header{style: "color: #2ac583;"}
		%a{class: "close", data: { dismiss: "modal"}}
			&times;
		%h3
			Login
	.modal-body
		.form-group
			= f.email_field :email, class: "form-control", placeholder: "Email"
		.form-group
			= f.password_field :password, class: "form-control", placeholder: "Password"
	.modal-footer
		%button{ type: "submit", class: "btn btn-primary"}
			Login