#countdown.countdown_holder
  %span.count_days
    %span.position
      %span.digit.static
    %span.position
      %span.digit.static

  %span.count_div.count_div0

  %span.count_hours
    %span.position
      %span.digit.static
    %span.position
      %span.digit.static

  %span.count_div.count_div1

  %span.count_minutes
    %span.position
      %span.digit.static
    %span.position
      %span.digit.static

  %span.count_div.count_div2

  %span.count_seconds
    %span.position
      %span.digit.static
    %span.position
      %span.digit.static

  %span.count_div.count_div0