#white_main
	= render partial: "navbar"
	.center
		= image_tag "banner_alternative.png"
		#contacts{style: "text-align:center;"}
			
			%h2 Email 
			%p babshuttle@gmail.com
			%h2 Phone
			%h5 Jake Kim
			%p 510-926-1177
			%h5 Hara Kang
			%p 510-542-1892

	
		.modal.fade#login_modal{tabindex: "-1"}
			.modal-dialog
				.modal-content
					= render partial: "users/login"
		= render partial: "footer"