#recommendations
	%h2 Recommendations
	%ul#recommendations
		- @recommended_items.each do |rec|
			%li
				= link_to rec.name, "/", class: "items", style: "color: #2ac583;"
	%ul#suggestions{style: "display:none;"}
		