// Place all the styles related to the Home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

body {
	margin: 0px;
	
	background-size: cover;
}

#main {
	width: 100%;
	background-color: #2ac583;
	margin: 0 auto;
}

#header {
	height: 44px;
	background-color: #2ac583;
	font-size: 18px;
	padding-top: 5px;

	#center_header {
		width: 1024px;
		height: 44px;
		margin: 0 auto;
		a {
			color: white;
			font-weight: bold;
			margin: 0 10px;
		}
		a:hover {
			text-decoration: none;
			color: #428bca;
		}
		#navbar {
			float: left;
			margin-left: 20px;
			margin-top: 4px;

		}

		#login_bar {
			float: right;
		}
	}
	
}
#banner {
	height: 400px;
	width: 100%;
	background-color: white;
	text-align: center;
	img {
		width: 1024px;
	}
}


#signup_explanation {
	margin-top: 20px;
	text-align: center;
	color: white;
	font-size: 20px;
	font-weight: bold;
}

#countdown_div {
	margin-top: 20px;

	#note {
		text-align:center; 
		color:white;
		margin-bottom:20px;
		font-size: 15px;
		font-weight: normal;
	}
}

#signup_modal {
	color: black;
}

.center {

	width: 1024px;
	margin: 0 auto;
}

.green {
	color: #2ac583 !important;
}

/*.btn {
	background-color: #2ac583;
	border: 1px solid white;
}*/

#login {
	float: right;
	position: absolute;
	top: 10px;
	right: 10px;
}

a.active {
	color: #428bca !important;
}

.left {
	float: left;
	width: 300px;
	margin-left: 100px;
}

.right {
	float: right;
	width: 300px;
	margin-right: 100px;
}

#footer_div {
	width: auto;
	position: relative;
	bottom: 0;
	background-color: #2ac583;
}
.footer {
	padding: 20px;
	background-color: #2ac583;
	width: 1024px;
	margin: 0 auto;
}
